<mat-toolbar color="primary">
  <h1>Orders</h1>
</mat-toolbar>
<mat-toolbar class="mat-toolbar--right">
  <button mat-raised-button color="primary">+ Adicionar</button>
</mat-toolbar>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <!-- Status-->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.status}}
    </mat-cell>
  </ng-container>

  <!-- Código-->
  <ng-container matColumnDef="codigo">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.codigo}}
    </mat-cell>
  </ng-container>

  <!-- Valor Total-->
  <ng-container matColumnDef="valorTotal">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Valor Total </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.valorTotal}}
    </mat-cell>
  </ng-container>

  <!-- Data Column-->
  <ng-container matColumnDef="data">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Data </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.data | date:'dd/MM/yyyy' }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [length]="100" [pageSize]="3" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
